/* line 1, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
.bc-float-logo {
  position: absolute;
  top: 5%;
  left: 10%;
}
@media screen and (max-width: 950px) {
  /* line 1, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
  .bc-float-logo {
    left: 5%;
  }
}

@media screen and (max-width: 950px) {
  /* line 10, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
  #cs-logo-text {
    width: 70%;
  }
}
@media screen and (max-width: 767px) {
  /* line 10, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
  #cs-logo-text {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  /* line 19, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
  .wrap-text {
    height: 60% !important;
  }
}
/* line 23, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
.wrap-text p {
  text-transform: uppercase;
}
@media screen and (max-width: 1127px) {
  /* line 23, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
  .wrap-text p {
    width: 100% !important;
  }
}
@media screen and (max-width: 767px) {
  /* line 23, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
  .wrap-text p {
    width: 80% !important;
    /* height: 70% !important; */
  }
}

@media screen and (max-width: 767px) {
  /* line 35, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
  .wrap-text > p:nth-child(2) {
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  /* line 41, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
  .wrap-text > p:first-child {
    font-size: 1.5em;
  }
}

/* line 47, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
#bc-arrow {
  position: absolute;
  bottom: 5%;
  transform: translatex(50%);
  right: 50%;
}

/* line 54, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
#bc-wrapper-1 {
  height: 100%;
}

/* line 58, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
#wrapper-sec {
  margin-top: 7.5%;
  height: 60%;
}

/* line 63, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
#bc-wrapper-2 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 10% 0px;
  background: url("background2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 85, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
.text-paragraph .title-paragraph, .text-paragraph .content-paragraph {
  text-align: center;
  padding: 0px 30%;
}
/* line 89, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
.text-paragraph .title-paragraph {
  color: #af8400;
}
/* line 92, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
.text-paragraph .title-paragraph-2 {
  color: #af8400;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  padding: 0px 30%;
}
@media screen and (max-width: 767px) {
  /* line 92, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
  .text-paragraph .title-paragraph-2 {
    padding: 0% 5% !important;
  }
}
/* line 103, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
.text-paragraph .content-paragraph {
  color: white;
  letter-spacing: 0.5px;
  margin-bottom: 100px;
}
/* line 109, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
.text-paragraph .no-margin {
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  /* line 115, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
  .content-paragraph {
    padding: 0% 5% !important;
  }
}

/* line 122, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
#bc-wrapper-3 #bottles-section {
  height: 80vh;
  background: url("background-bottles.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 139, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
#bc-wrapper-3 #footer {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #232426;
}
/* line 150, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
#bc-wrapper-3 #footer .wrapper-footer {
  width: 50%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding-top: 2.5%;
  padding-bottom: 5%;
}

/* line 169, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
.wrapper h2 {
  color: #af8400;
}
/* line 172, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
.wrapper p {
  color: white;
}

@media (min-width: 768px) {
  /* line 178, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
  .wrapper > * {
    display: block;
    text-align: right;
  }
}
@media (max-width: 767px) {
  /* line 185, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
  #bc-wrapper-2 {
    background-size: contain;
    background-position: 0% 100%;
    padding: 0% 10%;
  }

  /* line 191, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
  .text-paragraph .content-paragraph {
    margin-bottom: 30px;
  }

  /* line 196, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
  #bc-wrapper-3 #bottles-section {
    height: unset;
    background: url("background-bottles.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* line 210, /home/peggysue/CollectionSuitesWeb/app/assets/stylesheets/become.scss */
  #bc-wrapper-3 .wrapper-footer {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
