#packages:
#  yum:
#    postgresql-devel: []

# Run rake tasks before an application deployment
#container_commands:
#  01bundler-pg:
#    command: bundle config build.pg --with-pg-config=/usr/bin/pg_config
#  db:
#      command: "bundle exec rake db:migrate"
#      leader_only: true

# .ebextensions/packages.config
#  packages:
#    yum:
#      postgresql93-devel: []
