<style media="screen">
  body{
    /* background: url('assets/background2.jpg'); */
    background: url(image-path('assets/background2.png'));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-align-items: center;
    align-items: center;
  }

</style>

<div id="index-main-div-atp">
  <div id="index-title">
    <h1>DISCOVER THE ONLY PRIVATE PLACE WORTHY OF YOUR MOST VALUED COLLECTION</h1>
  </div>
  <div id="index-subtitle">
    <h2>WELCOME TO COLLECTION SUITES</h2>
  </div>
  <div id="hg-index-text">
    <p>Rising from the heart of Miami, Collection Suites will be 38 suites of
    unprecedented luxury space. Arriving this summer, it will be an exclusive
    private place for the most exquisite collections. Outfitted to reflect
    your unique tastes, each suite offers a living space expressly designed
    for you&#8212as an individual, as a lover of luxury, as a collector.</p>
  </div>
  <div id="yellow-ribbon"></div>
  <div class="index-middle-text" id="hg-text-3">
    <p><a href="/register_form">BECOME A VIP MEMBER</a></p>
  </div>
  <div class="index-middle-text" id="hg-text-2">
    <p>BE AMONGST THE FIRST TO KNOW OF PROJECT UPDATES AS THEY BECOME AVAILABLE</p>
  </div>
</div>



<!-- <style media="screen">
  body{
    background: url('assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style> -->
