<style media="screen">
  body{
    background: url('assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>

<div class="collection-suites-box">
  <div class="line-top">
    <span class="close">X</span>
  </div>
  <div class="line-logo">
    <div class="wrap-logo">
      <%= image_tag "cs-logo.png", :id => 'logo'%>
      <%= image_tag "cs-logo-text.png", :id => 'logo-text'%>
    </div>
  </div>
</div>
