<style media="screen">
  body{
    background: url('assets/background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* partial  */

  body{
    -webkit-align-items: center;
    align-items: center;
  }


  .collection-suites-box{
    /* border: 10px solid rgb(175,132,0); */
    /* background: url('cs-pattern.svg') black; */
    /* background-size: 110px; */

    /* height: 60%; */
    width: 50%;
    min-width: 40%;
  }

  .line-top{
    position: relative;
    top: 0px;
    text-align: right;
  }

  .line-logo{
    height: 100%;
    width: 100%;
  }

  .close{
    position: relative;
    right: 15px;
    top: 15px;

    color: white;
    font-size: 20px;
    font-family: Arial;
    cursor: pointer;
  }

  .wrap-logo{
    /*solo referencia */
  }

  .wrap-logo > #logo{
    margin-left: 30px;
    max-height: 120px;
  }

  .wrap-logo > #logo-text{
    position: relative;
    bottom: 28px;
  }

</style>

<div class="collection-suites-box">
  <div class="line-top">
    <span class="close">X</span>
  </div>
  <div class="line-logo">
    <div class="wrap-logo">
      <%= image_tag "cs-logo.png", :id => 'logo'%>
      <%= image_tag "cs-logo-text.png", :id => 'logo-text'%>
    </div>
  </div>
</div>
