.bc-float-logo {
  position: absolute;
  top: 5%;
  left: 10%;
  @media screen and (max-width: 950px){
    left:5%;
  }
}

#cs-logo-text {
  @media screen and (max-width: 950px){
    width: 70%;
  }
  @media screen and (max-width: 767px){
    display: none;
  }
}

.wrap-text{
  @media screen and (max-width: 767px){
    height: 60% !important;
  }
  p{
    text-transform: uppercase;
    @media screen and (max-width: 1127px){
      width:100% !important;
    }
    @media screen and (max-width: 767px){
      width:80% !important;
      /* height: 70% !important; */
    }
  }
}

.wrap-text > p:nth-child(2) {
  @media screen and (max-width: 767px){
    margin-top: 30px;
  }
}

.wrap-text > p:first-child {
  @media screen and (max-width: 767px){
    font-size: 1.5em;
  }
}

#bc-arrow {
  position: absolute;
  bottom: 5%;
  transform: translatex(50%);
  right: 50%;
}

#bc-wrapper-1{
  height: 100%;
}

#wrapper-sec{
  margin-top: 7.5%;
  height: 60%;
}

#bc-wrapper-2{
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  flex-direction: column;

  -webkit-justify-content: center;
  justify-content: center;

  -webkit-align-items: center;
  align-items: center;

  padding: 10% 0px;

  background: url('background2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-paragraph{
  .title-paragraph, .content-paragraph{
    text-align: center;
    padding: 0px 30%;
  }
  .title-paragraph{
    color: rgb(175,132,0);
  }

  .content-paragraph{
    color: rgb(255,255,255);
    letter-spacing: 0.5px;
    margin-bottom: 100px;
  }

  .no-margin{
    margin-bottom: 0px;
  }

}

.content-paragraph{
  @media screen and (max-width: 767px){
    padding: 0% 5% !important;
  }
}

#bc-wrapper-3{
  #bottles-section{
    height: 80vh;
    background: url('background-bottles.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    align-items: center;
  }

  #footer{
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    align-items: center;

    background-color: #232426;
    .wrapper-footer{
      width: 50%;

      display: -webkit-flex;
      display: flex;

      -webkit-align-items: center;
      align-items: center;

      -webkit-justify-content: space-around;
      justify-content: space-around;

      padding-top: 2.5%;
      padding-bottom: 5%;
    }
  }
}

.wrapper{
  h2 {
    color: rgb(175,132,0);
  }
  p{
    color: white;
  }
}

@media (min-width: 768px) {
  .wrapper > * {
    display: block;
    text-align: right;
  }
}

@media (max-width: 767px) {
  #bc-wrapper-2{
    background-size: contain;
    background-position: 0% 100%;
    padding: 0% 10%;
  }
  .text-paragraph{
    .content-paragraph{
      margin-bottom: 30px;
    }
  }
  #bc-wrapper-3{
    #bottles-section{
      height: unset;
      background: url('background-bottles.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      display: -webkit-flex;
      -webkit-justify-content: center;
      -webkit-align-items: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .wrapper-footer{
      display: -webkit-flex;
      -webkit-flex-direction: column;

      -webkit-justify-content: center;
      -webkit-align-items: center;

      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;
    }
  }
}
