.bc-float-logo {
  position: absolute;
  top: 5%;
  left: 10%;
}

.wrap-text{
  p{
    text-transform: uppercase;
  }
}

#bc-arrow {
  position: absolute;
  bottom: 5%;
  transform: translatex(50%);
  right: 50%;
}

#bc-wrapper-1{
  height: 100%;
}

#wrapper-sec{
  margin-top: 12.5%;
  height: 50%;
}

// .main-sec{
//   height: 100%;
// }
