#hg-index-text{
  color:white;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  margin-bottom: 4%;
  @media screen and (max-width: 767px){
    width: 95% !important;
    font-size: 11px !important;
  }
}

#hg-text-2{
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  @media screen and (max-width: 767px){
    width: 85% !important;
    font-size: 11px !important;
    margin-top: 5% !important;
  }
}

#hg-text-3{
  p{
    margin-top: 10px;
  }
}
