div {
  text-align: center;
}

body {
  @media screen and (max-width: 767px){
  //   background-position-x: 20% !important;
      background-size: contain !important;
      background-position: 1% 100% !important;
      background-repeat: no-repeat !important;
      background-color: black !important;
  }
}

p, h2{
  font-family: Solomon-Normal;
  font-weight: normal;
  font-style: normal;
}

#index-main-div-atp {
  top: -5%;
  position: relative;
  @media screen and (max-width: 1200px){
    top: 0%;
  }
  @media screen and (max-width: 767px){
    top: -2%;
  }
}

#index-title{
  color: #AF8400;
  width: 41%;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767px){
    width: 87% !important;
  }
  h1 {
    font-weight: 400;
    @media screen and (max-width: 767px){
      font-size: 16px !important;
    }
  }
}

#index-subtitle{
  color:white;
  margin: 1.5%;
  @media screen and (max-width: 767px){
    margin-top: 5% !important;
    margin-right: 5% !important;
  }
  h2{
    font-weight: 400;
    @media screen and (max-width: 767px){
      font-size: 12px !important;
      color: white;
    }
  }
}

#index-text{
  color:white;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  @media screen and (max-width: 767px){
    width: 95% !important;
    font-size: 11px !important;
  }
}

.index-middle-text{
  color: #AF8400;
  font-size: 17px;
}

#index-gallery-icon {
  margin-top: 2%;
  @media screen and (max-width: 767px){
    margin-top: 5% !important;
    margin-top: 5% !important;
  }
}

#gallery-icon-img {
  cursor: pointer;
}

#text-1{
  p{
    @media screen and (max-width: 767px){
      margin-top: 1.5% !important;
      margin-bottom: 15% !important;
    }
  }
}

#text-2 {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  @media screen and (max-width: 767px){
    width: 85% !important;
    font-size: 11px !important;
    margin-top: 5% !important;
  }
}

#yellow-ribbon{
  background-color: #AF8400;
  height: 5px;
  width: 1.5%;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767px){
    width: 5% !important;
    font-size: 14px;
    margin-top: 5%;
    height: 3px !important;
  }
}

#text-3{
  p a{
    color: #AF8400;
    font-size: 17px;
    margin-top: 10px;
    text-decoration: none;
    &:hover{
      font-weight: bold;
    }
    @media screen and (max-width: 767px){
      margin-top: 1.5%;
    }
  }
}


#hg-text-3{
  p a{
    color: #AF8400;
    font-size: 17px;
    margin-top: 10px;
    text-decoration: none;
    &:hover{
      font-weight: bold;
    }
  }
}
